<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGc48tjJ-h90Q-HFUIXfDxpjCF1ly0Lus</string>
	<key>GCM_SENDER_ID</key>
	<string>542928930814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ottApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ott-platform-18448</string>
	<key>STORAGE_BUCKET</key>
	<string>ott-platform-18448.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542928930814:ios:16f36ff39af9ddfd74e2af</string>
</dict>
</plist>